<div>
    <div><h1>{{name}}</h1></div>
    <div><p><dfn>{{description}}</dfn></p></div>
                  
            {{#with history}}
                <b>{{year}},  {{founder}}</b>
            {{/with}}
            <hr>
       <div>
            <p><b>Types:</b></p>
                <span class="badge text-bg-primary">Number</span>
                <span class="badge text-bg-secondary">String</span>
                <span class="badge text-bg-success">Boolean</span>
                <span class="badge text-bg-danger">Null</span>
                <span class="badge text-bg-warning">Undefined</span>
                <span class="badge text-bg-info">Symbol</span>
                <span class="badge text-bg-light">Object</span>
        </div>
            <hr>

         <p><b>Syntax:</b></p>
        <em>Variables - </em>         
           
                <button type="button" class="btn btn-outline-primary">var</button>
                <button type="button" class="btn btn-outline-primary">let</button>
                <button type="button" class="btn btn-outline-primary">const</button>
            <br>
            <br>
            <em>Functions - </em>         
           
                <button type="button" class="btn btn-outline-primary">functions</button>
            <br>
            <br>
        <em>Conditionals - </em>         
           
                <button type="button" class="btn btn-outline-primary">if</button>
                <button type="button" class="btn btn-outline-primary">else</button>
                <button type="button" class="btn btn-outline-primary">switch</button>

            <br>
            <br>
            
        <em>Loops - </em>         
           
                 <button type="button" class="btn btn-outline-primary">for</button>
                 <button type="button" class="btn btn-outline-primary">while</button>
                <button type="button" class="btn btn-outline-primary">do-while</button>

            <br>
            <br>
            
        <em>Classes - </em>         
           
                <button type="button" class="btn btn-outline-primary">class</button>
            <br>
            <hr>
            
        <p><b>Features:</b></p>
            <ul>
                <div class="vstack gap-3">
                <div class="p-2">First-class functions</div>
                <div class="p-2">Closures</div>
                <div class="p-2">TDynamic typing</div>
                <div class="p-2">Prototype-based inheritance</div>
                <div class="p-2">Asynchronous programming with Promises and async/await</div>
                <div class="p-2">Modules with import/export statements</div>
                </div> 
            </ul>
             <br>
           <hr>

              <div>
                <p><b>Libraries:</b></p>
        
            <ul>
               
            <li> <span class="badge rounded-pill text-bg-primary">jQuery</span></li>
            <li> <span class="badge rounded-pill text-bg-primary">React</span> </li>
            <li> <span class="badge rounded-pill text-bg-primary">Angular</span></li>
            <li> <span class="badge rounded-pill text-bg-primary">Vue</span></li>
            <li> <span class="badge rounded-pill text-bg-primary">Node.js</span></li>
            <li> <span class="badge rounded-pill text-bg-primary">Express.js</span></li>
            <li> <span class="badge rounded-pill text-bg-primary">Lodash.js</span></li>
            <li>  <span class="badge rounded-pill text-bg-primary">Moment.js</span></li>
            
            </ul>
        </div>
        <br>
        <hr> 

        <div>
                <p><b>Tools:</b></p>                        
              <span class="badge rounded-pill text-bg-primary">Babel</span>
              <span class="badge rounded-pill text-bg-primary">Webpack</span>
              <span class="badge rounded-pill text-bg-primary">Eslint</span>
              <span class="badge rounded-pill text-bg-primary">Jest</span>
              <span class="badge rounded-pill text-bg-primary">Mocha</span>
              <span class="badge rounded-pill text-bg-primary">Chai</span>
              <span class="badge rounded-pill text-bg-primary">Selenium</span>
              <span class="badge rounded-pill text-bg-primary">Cypress</span>
      </div>
      <br>
      <hr>
      <div>
                <p><b>Community:</b></p>                        
                
  <button type="button" class="btn btn-primary">
  Stack Overflow </button> (forum)</button>
  <br>
  <button type="button" class="btn btn-primary">
  JavaScript Weekly  </button> (newsletter) </button>
<br>
  <button type="button" class="btn btn-primary">
  The Changelog </button> (podcast) </button>
  <br>
  <button type="button" class="btn btn-primary">
  CSS-Tricks </button> (blog) </button>
  <br>
     </div>
        
</div>
           
        
    

             
               
            

                
              
        
              
           
             
               
      
       
        
                  
                  
           

                                    
                
                    
                
             

            

               

                 
                     

                  

        
           
           
                
              
               
                
           
        
                   
                   
               


    

           



          
        
     
  
   
   

           
      


 
   
               
      
       
            
            
                
                  
                                      
                                              
                                          
                     
                 
                           
                           
            
                     
                      
                                                             
                      
    
                
                
               
    
    
      
                    
           
   
   
    




